.card{
    background-color: rgb(36, 0, 53);
    margin: 1%;
    padding: 1%;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    gap: 20px;
}

.verde{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: green;
}

.vermelho{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: red;
}