.card{
    background-color: rgb(0, 0, 0);
    margin: 1%;
    padding: 3%;
    width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(166, 0, 243, 0.35) 0px 5px 15px;
    justify-content: space-between;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    gap: 20px;
    width: 100%;
}

.verde{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: green;
}

.vermelho{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: red;
}