.wrapBtns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  position: fixed;
  top: 0;
  background-color: black;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.wrapBtns a {
  background-color: blueviolet;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.wrapBtns a:hover {
  background-color: darkviolet;
  transform: scale(1.05); 
}

.wrapPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: transparent;
  margin-top: 80px;
  color: white;
}

@media (max-width: 768px) {
  .wrapBtns {
    gap: 10px;
    padding: 10px;
  }

  .wrapBtns a {
    width: 15%;
    padding: 12px;
    font-size: 1.2rem;
  }

  .wrapPage {
    margin-top: 15%;
  }
}




.cards{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
}

.card{
  background-color: rgb(0, 0, 0);
  margin: 1%;
  padding: 2%;
  width: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(166, 0, 243, 0.35) 0px 5px 15px;
  height: 400px;
}

.graficos {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.graficos h1{ margin-bottom: 3%; color: rgb(0, 26, 255);}

.chart-container {
  width: 100%;
}

.titulo{
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(174, 0, 255);
}

.mapa{
  width: 96%;
  z-index: -1;
  border-radius: 200px;
  display: flex;
  align-self: center;
  padding: 2%;
  flex-direction: column;
  align-items: center;
}

.mapa h2{
  margin-bottom: 2%;
  color: rgb(174, 0, 255);
}

@media (max-width: 768px) {
  .chart-container {
    max-width: 600px;
 }
}